@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/**Header**/
header{
    background-color: rgb(243, 240, 240);
    width: 100%;
    position: fixed;
    z-index: 444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    color: rgb(49, 112, 194);
    text-transform: uppercase;
    
}


.navigation a{ 
    text-decoration: none;
    padding-left: 30px;
    font-size: 1.1em;
    font-weight: 500;


}

.navigation a:hover{ 
    color: brown;
}

section {
    padding: 100px 200px;

}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.jpeg) no-repeat;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    

}

.main h2 {

    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {

    color: rgb(49, 112, 194);
    font-size: 3em;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
}

.main h3{
    color: #fff;
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.main-btn {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    background-color:rgb(49, 112, 194);
    padding: 20px 35px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.7s ease;
    font-weight: 500;

}

.main-btn:hover{
    opacity: 1;
    letter-spacing: 1px;
    transform: scale(1.1);


}
.social-icons a {
    display: inline-block;
    padding-right: 30px;
    color: white;
    font-size: 1.7em;
}


.title {
    display: flex;
    justify-content: center;
    color: rgb(49, 112, 194);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{

    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin:15px;
    transition: 0.7s ease;
}
.card:hover {
    transform: scale(1.1);
}

.icon {
    color: rgb(49, 112, 194);
    font-size: 8em;
    text-align: center;
}

.info {

    text-align: center;
}

.info h3{
    color:rgb(49, 112, 194) ;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.black-section {
    background-color: black;
}

.cards2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card2 {
    background-color: white;
    padding: 1px;
    margin: 25px; 
    border-radius: 15px;   
    transition: 0.5s ease;
    cursor: pointer;
    opacity: 0.8;
}

.card2:hover {   
        transform: scale(1.1);
        opacity: 1;

}
.proj-images {
    background-color: gray;
    width: 360px;
    height: 200px;
    border-top-left-radius: 15px;   
    border-top-right-radius: 15px; 
    background-size:cover;

}

.proj-description {
    display: flex;
    justify-content:space-between;
}

.proj-content {
    padding: 15px;
    
}

.description_title {
    margin-bottom: 10px;
}

.more-details a{
    text-decoration: none;
    color: rgb(49, 112, 194);

}

.more-details a:hover {
    color: rgb(43, 43, 177);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
 .social-icons-footer a {
     color: white;
     font-size: 1.3em;
     padding-left: 10px;
 }
 .footer > div{
    font-weight: 400;
    font-size: 1.1em;
 }

 .card2 .image img {
    width: 360px;
    height: 200px;
    border-top-left-radius: 15px;   
    border-top-right-radius: 15px; 
    background-size:cover;

 }

 /*****************************************************/
/*****************************************************/
/*****************************************************/

@media only screen and (max-width: 1650px) {
    section {
        padding: 100px 35px;
    }

}


@media only screen and (max-width: 810px) {
    header {
        padding: 10px 50px;
    }

}


@media only screen and (max-width: 510px) {
    header {
        padding: 10px 50px;
    }
    
    section {
        padding: 100px 10px;
    }
    body {
        font-size: 16px;
    }

    .main h2 {
        font-size: 1.5em;
    }
    
    .main h2 span {
            font-size: 1.7em;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .main h3{
        color: #fff;
        font-size: 2.1em;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .navigation a{ 
        padding-left: 30px;
        font-size: 1.3em;
        font-weight: 500;  
    }
    
.logo {
    font-size: 1.5em;
    font-weight: 700;
}


.navigation a{ 
    padding-left: 5px;
    font-size: 1.1em;
}
header{
    padding: 15px 5px;
    justify-content: space-between;

}

.card2 {
    padding: 1px;
    margin: 15px;

}

.proj-images {
    width: 100%;
    max-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;

}


    
  }


  @media only screen and (max-width: 358px){

    .card2 {
        width: 100%;

}

    .card2 .image img {
         width: 100%;
         height: auto;

 }

.black-section {
    width: 100%;
}
  }

  .more-details{
overflow: hidden;    
}

/************************************************/

